In [1]:
from dask import delayed
import numpy as np
import pandas as pd
import pymysql
from sqlalchemy import create_engine

import dask.dataframe as ddf
df_to_be_insert = ddf.read_csv('data/CSMAR/index_weight/*', dtype={'Indexcd': 'object'}).compute()

TABLE_NAME = 'INDEX_Weight'
# TABLE_NAME = 'FUND_MainInfo'
# df_to_be_insert = pd.read_csv(f'data/CSMAR/{TABLE_NAME}.csv')

# sql_engine = create_engine("mysql://root:Doushi0930!@dacian.cc:38321/csmar")
# df_to_be_insert.iloc[0: 0].to_sql(TABLE_NAME, sql_engine, if_exists='append')

# df_to_be_insert = df_to_be_insert.fillna(0)

In [12]:
temp = _

In [17]:
temp.fillna('NULL')

       Indexcd       Enddt   Stkcd Constdnme  Weight
280221  000019  2011-09-01  600578      NULL   0.060
280377  000019  2011-09-01  600323      NULL   0.090
280635  000019  2011-09-02  600323      NULL   0.090
280658  000019  2011-09-02  600578      NULL   0.060
280666  000019  2011-09-05  600323      NULL   0.090
...        ...         ...     ...       ...     ...
337528  000905  2019-01-11  600270      NULL   0.244
338400  000905  2019-01-14  600270      NULL   0.246
338638  000905  2019-01-15  600270      NULL   0.242
339146  000905  2019-01-16  600270      NULL   0.243
339550  000905  2019-01-17  600270      NULL   0.245

[191 rows x 5 columns]

In [18]:
f"insert into\
 {TABLE_NAME}(`{'`, `'.join(temp.fillna('NULL').columns.values)}`)\
 values\
    {str(list(temp.fillna('NULL').itertuples(index=False, name=None))).strip('[').strip(']')}"

"insert into INDEX_Weight(`Indexcd`, `Enddt`, `Stkcd`, `Constdnme`, `Weight`) values    ('000019', '2011-09-01', 600578, 'NULL', 0.06), ('000019', '2011-09-01', 600323, 'NULL', 0.09), ('000019', '2011-09-02', 600323, 'NULL', 0.09), ('000019', '2011-09-02', 600578, 'NULL', 0.06), ('000019', '2011-09-05', 600323, 'NULL', 0.09), ('000019', '2011-09-05', 600578, 'NULL', 0.06), ('000019', '2011-09-06', 600578, 'NULL', 0.06), ('000019', '2011-09-06', 600323, 'NULL', 0.09), ('000019', '2011-09-07', 600323, 'NULL', 0.09), ('000019', '2011-09-07', 600578, 'NULL', 0.06), ('000019', '2011-09-08', 600323, 'NULL', 0.09), ('000019', '2011-09-08', 600578, 'NULL', 0.06), ('000019', '2011-09-09', 600323, 'NULL', 0.09), ('000019', '2011-09-09', 600578, 'NULL', 0.06), ('000019', '2011-09-13', 600578, 'NULL', 0.06), ('000019', '2011-09-13', 600323, 'NULL', 0.09), ('000019', '2011-09-14', 600323, 'NULL', 0.09), ('000019', '2011-09-14', 600578, 'NULL', 0.06), ('000019', '2011-09-15', 600578, 'NULL', 0.06), ('000019', '2011-09-15', 600323, 'NULL', 0.09), ('000019', '2011-09-16', 600323, 'NULL', 0.09), ('000019', '2011-09-16', 600578, 'NULL', 0.06), ('000019', '2011-09-19', 600323, 'NULL', 0.09), ('000019', '2011-09-19', 600578, 'NULL', 0.05), ('000019', '2011-09-20', 600323, 'NULL', 0.09), ('000019', '2011-09-20', 600578, 'NULL', 0.06), ('000019', '2011-09-21', 600323, 'NULL', 0.09), ('000019', '2011-09-21', 600578, 'NULL', 0.05), ('000019', '2011-09-22', 600578, 'NULL', 0.05), ('000019', '2011-09-22', 600323, 'NULL', 0.09), ('000019', '2011-09-23', 600578, 'NULL', 0.05), ('000019', '2011-09-23', 600323, 'NULL', 0.09), ('000019', '2011-09-26', 600578, 'NULL', 0.05), ('000019', '2011-09-26', 600323, 'NULL', 0.09), ('000019', '2011-09-27', 600323, 'NULL', 0.09), ('000019', '2011-09-27', 600578, 'NULL', 0.05), ('000019', '2011-09-28', 600323, 'NULL', 0.09), ('000019', '2011-09-28', 600578, 'NULL', 0.05), ('000019', '2011-09-29', 600323, 'NULL', 0.08), ('000019', '2011-09-29', 600578, 'NULL', 0.05), ('000019', '2011-09-30', 600323, 'NULL', 0.08), ('000019', '2011-09-30', 600578, 'NULL', 0.05), ('000905', '2012-07-02', 600323, 'NULL', 0.17), ('000905', '2012-07-03', 600323, 'NULL', 0.17), ('000905', '2012-07-04', 600323, 'NULL', 0.17), ('000905', '2012-07-05', 600323, 'NULL', 0.17), ('000905', '2012-07-06', 600323, 'NULL', 0.17), ('000905', '2012-07-09', 600323, 'NULL', 0.17), ('000905', '2012-07-10', 600323, 'NULL', 0.17), ('000905', '2012-07-11', 600323, 'NULL', 0.17), ('000905', '2012-07-12', 600323, 'NULL', 0.17), ('000905', '2012-07-13', 600323, 'NULL', 0.17), ('000905', '2012-07-16', 600323, 'NULL', 0.17), ('000905', '2012-07-17', 600323, 'NULL', 0.17), ('000905', '2012-07-18', 600323, 'NULL', 0.17), ('000905', '2012-07-19', 600323, 'NULL', 0.17), ('000905', '2012-07-20', 600323, 'NULL', 0.17), ('000905', '2012-07-23', 600323, 'NULL', 0.17), ('000905', '2012-07-24', 600323, 'NULL', 0.17), ('000905', '2012-07-25', 600323, 'NULL', 0.17), ('000905', '2012-07-26', 600323, 'NULL', 0.17), ('000905', '2012-07-27', 600323, 'NULL', 0.17), ('000905', '2012-07-30', 600323, 'NULL', 0.17), ('000906', '2012-07-02', 600323, 'NULL', 0.04), ('000906', '2012-07-03', 600323, 'NULL', 0.04), ('000906', '2012-07-04', 600323, 'NULL', 0.04), ('000906', '2012-07-05', 600323, 'NULL', 0.04), ('000906', '2012-07-06', 600323, 'NULL', 0.04), ('000906', '2012-07-09', 600323, 'NULL', 0.04), ('000906', '2012-07-10', 600323, 'NULL', 0.04), ('000906', '2012-07-11', 600323, 'NULL', 0.04), ('000906', '2012-07-12', 600323, 'NULL', 0.04), ('000906', '2012-07-13', 600323, 'NULL', 0.04), ('000906', '2012-07-16', 600323, 'NULL', 0.04), ('000906', '2012-07-17', 600323, 'NULL', 0.04), ('000906', '2012-07-18', 600323, 'NULL', 0.04), ('000906', '2012-07-19', 600323, 'NULL', 0.04), ('000906', '2012-07-20', 600323, 'NULL', 0.04), ('000906', '2012-07-23', 600323, 'NULL', 0.04), ('000906', '2012-07-24', 600323, 'NULL', 0.04), ('000906', '2012-07-25', 600323, 'NULL', 0.04), ('000906', '2012-07-26', 600323, 'NULL', 0.04), ('000906', '2012-07-27', 600323, 'NULL', 0.04), ('000906', '2012-07-30', 600323, 'NULL', 0.04), ('000010', '2013-01-04', 600873, 'NULL', 0.12), ('000010', '2013-01-07', 600873, 'NULL', 0.12), ('000010', '2013-01-08', 600873, 'NULL', 0.12), ('000010', '2013-01-09', 600873, 'NULL', 0.12), ('000010', '2013-01-10', 600873, 'NULL', 0.12), ('000010', '2013-01-11', 600873, 'NULL', 0.12), ('000010', '2013-01-14', 600873, 'NULL', 0.12), ('000010', '2013-01-15', 600873, 'NULL', 0.12), ('000010', '2013-01-16', 600873, 'NULL', 0.12), ('000010', '2013-01-17', 600873, 'NULL', 0.12), ('000010', '2013-01-18', 600873, 'NULL', 0.12), ('000010', '2013-01-21', 600873, 'NULL', 0.12), ('000010', '2013-01-22', 600873, 'NULL', 0.12), ('000010', '2013-01-23', 600873, 'NULL', 0.12), ('000010', '2013-01-24', 600873, 'NULL', 0.12), ('000010', '2013-01-25', 600873, 'NULL', 0.12), ('000010', '2013-01-28', 600873, 'NULL', 0.12), ('000010', '2013-01-29', 600873, 'NULL', 0.12), ('000010', '2013-01-30', 600873, 'NULL', 0.12), ('000021', '2013-01-04', 600873, 'NULL', 0.16), ('000021', '2013-01-07', 600873, 'NULL', 0.16), ('000021', '2013-01-08', 600873, 'NULL', 0.16), ('000021', '2013-01-09', 600873, 'NULL', 0.16), ('000021', '2013-01-10', 600873, 'NULL', 0.16), ('000021', '2013-01-11', 600873, 'NULL', 0.16), ('000021', '2013-01-14', 600873, 'NULL', 0.16), ('000021', '2013-01-15', 600873, 'NULL', 0.16), ('000021', '2013-01-16', 600873, 'NULL', 0.16), ('000021', '2013-01-17', 600873, 'NULL', 0.16), ('000021', '2013-01-18', 600873, 'NULL', 0.16), ('000021', '2013-01-21', 600873, 'NULL', 0.16), ('000021', '2013-01-22', 600873, 'NULL', 0.16), ('000021', '2013-01-23', 600873, 'NULL', 0.16), ('000021', '2013-01-24', 600873, 'NULL', 0.16), ('000021', '2013-01-25', 600873, 'NULL', 0.16), ('000021', '2013-01-28', 600873, 'NULL', 0.16), ('000021', '2013-01-29', 600873, 'NULL', 0.16), ('000021', '2013-01-30', 600873, 'NULL', 0.16), ('000905', '2013-01-04', 539, 'NULL', 0.34), ('000905', '2013-01-04', 750, 'NULL', 0.43), ('000905', '2013-01-07', 539, 'NULL', 0.34), ('000905', '2013-01-07', 750, 'NULL', 0.43), ('000905', '2013-01-08', 539, 'NULL', 0.34), ('000905', '2013-01-08', 750, 'NULL', 0.43), ('000905', '2013-01-09', 750, 'NULL', 0.43), ('000905', '2013-01-09', 539, 'NULL', 0.34), ('000905', '2013-01-10', 750, 'NULL', 0.43), ('000905', '2013-01-10', 539, 'NULL', 0.34), ('000905', '2013-01-11', 750, 'NULL', 0.43), ('000905', '2013-01-11', 539, 'NULL', 0.34), ('000905', '2013-01-14', 750, 'NULL', 0.43), ('000905', '2013-01-14', 539, 'NULL', 0.34), ('000905', '2013-01-15', 750, 'NULL', 0.43), ('000905', '2013-01-15', 539, 'NULL', 0.34), ('000905', '2013-01-16', 539, 'NULL', 0.34), ('000905', '2013-01-16', 750, 'NULL', 0.43), ('000905', '2013-01-17', 539, 'NULL', 0.34), ('000905', '2013-01-17', 750, 'NULL', 0.43), ('000905', '2013-01-18', 750, 'NULL', 0.43), ('000905', '2013-01-18', 539, 'NULL', 0.34), ('000905', '2013-01-21', 750, 'NULL', 0.43), ('000905', '2013-01-21', 539, 'NULL', 0.34), ('000905', '2013-01-22', 539, 'NULL', 0.34), ('000905', '2013-01-22', 750, 'NULL', 0.43), ('000905', '2013-01-23', 539, 'NULL', 0.34), ('000905', '2013-01-23', 750, 'NULL', 0.43), ('000905', '2013-01-24', 750, 'NULL', 0.43), ('000905', '2013-01-24', 539, 'NULL', 0.34), ('000905', '2013-01-25', 750, 'NULL', 0.43), ('000905', '2013-01-25', 539, 'NULL', 0.34), ('000905', '2013-01-28', 539, 'NULL', 0.34), ('000905', '2013-01-28', 750, 'NULL', 0.43), ('000905', '2013-01-29', 750, 'NULL', 0.43), ('000905', '2013-01-29', 539, 'NULL', 0.34), ('000905', '2013-01-30', 750, 'NULL', 0.43), ('000905', '2013-01-30', 539, 'NULL', 0.34), ('000906', '2013-01-04', 539, 'NULL', 0.08), ('000906', '2013-01-07', 539, 'NULL', 0.08), ('000906', '2013-01-08', 539, 'NULL', 0.08), ('000906', '2013-01-09', 539, 'NULL', 0.08), ('000906', '2013-01-10', 539, 'NULL', 0.08), ('000906', '2013-01-11', 539, 'NULL', 0.08), ('000906', '2013-01-14', 539, 'NULL', 0.08), ('000906', '2013-01-15', 539, 'NULL', 0.08), ('000906', '2013-01-16', 539, 'NULL', 0.08), ('000906', '2013-01-17', 539, 'NULL', 0.08), ('000906', '2013-01-18', 539, 'NULL', 0.08), ('000906', '2013-01-21', 539, 'NULL', 0.08), ('000906', '2013-01-22', 539, 'NULL', 0.08), ('000906', '2013-01-23', 539, 'NULL', 0.08), ('000906', '2013-01-24', 539, 'NULL', 0.08), ('000906', '2013-01-25', 539, 'NULL', 0.08), ('000906', '2013-01-28', 539, 'NULL', 0.08), ('000906', '2013-01-29', 539, 'NULL', 0.08), ('000906', '2013-01-30', 539, 'NULL', 0.08), ('000905', '2019-01-02', 600270, 'NULL', 0.255), ('000905', '2019-01-03', 600270, 'NULL', 0.256), ('000905', '2019-01-04', 600270, 'NULL', 0.25), ('000905', '2019-01-07', 600270, 'NULL', 0.246), ('000905', '2019-01-08', 600270, 'NULL', 0.246), ('000905', '2019-01-09', 600270, 'NULL', 0.246), ('000905', '2019-01-10', 600270, 'NULL', 0.246), ('000905', '2019-01-11', 600270, 'NULL', 0.244), ('000905', '2019-01-14', 600270, 'NULL', 0.246), ('000905', '2019-01-15', 600270, 'NULL', 0.242), ('000905', '2019-01-16', 600270, 'NULL', 0.243), ('000905', '2019-01-17', 600270, 'NULL', 0.245)"

In [20]:
pd.isnull(df_to_be_insert).any()

Indexcd      False
Enddt        False
Stkcd        False
Constdnme    False
Weight       False
dtype: bool

In [7]:
len(df_to_be_insert)

9221904

In [83]:
import time
from mydate import *
from selenium import webdriver
from selenium.webdriver.common.by import By

options = webdriver.ChromeOptions()
options.add_argument('--window-size=1920,1080')
# options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--proxy-server=dacian.cc:52537')
# options.add_argument('--disable-dev-shm-usage')
options.add_argument("--user-agent='Mozilla/5.0 (Linux; Android 4.4.2; Nexus 4 Build/KOT49H) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.122 Mobile Safari/537.36 UCBrowser'")
driver = webdriver.Chrome(options=options)

driver.get('https://www.gtarsc.com/')

time.sleep(5)

i_frame = driver.find_element(By.TAG_NAME, 'iframe').get_attribute('src')

driver.get(i_frame)
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "En")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "简体")]')[0].click()
time.sleep(5)

try:
    driver.find_element(By.XPATH, '//*[@id="csmar-app"]/div/div[4]/div/img[2]').click()
    time.sleep(5)
except:
    pass

driver.find_elements(By.XPATH, '//*[contains(text(), "数据中心")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "单表查询")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "基金市场系列")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "公募基金")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "基金概况")]')[0].click()
time.sleep(5)

driver.find_elements(By.XPATH, '//*[contains(text(), "基金主体信息表")]')[0].click()
time.sleep(5)

# driver.find_elements(By.XPATH, '//*[contains(text(), "CSV格式（*.csv）")]')[0].click()
# time.sleep(5)

# driver.find_elements(By.XPATH, '//*[contains(text(), "下载数据")]')[-1].click()
# time.sleep(5)

# driver.switch_to.window(driver.window_handles[1])
# time.sleep(5)

# driver.find_elements(By.XPATH, '//*[contains(text(), "本地保存数据")]')[0].click()
# time.sleep(5)

In [149]:
start_date = driver.find_elements(By.XPATH, '//*[@class="date-range-picker table-picker"]//input')[0]
start_date.clear()
start_date.send_keys(day_yesterday)
end_date = driver.find_elements(By.XPATH, '//*[@class="date-range-picker table-picker"]//input')[1]
end_date.clear()
end_date.send_keys(day_today)

In [11]:
import pandas as pd
import datetime

from sqlalchemy import create_engine
sql_engine = create_engine("mysql://root:Doushi0930!@dacian.cc:38321/csmar")

In [6]:
csmar_fund_allocation = pd.read_csv('data/CSMAR/Fund_Allocation.csv', parse_dates=['EndDate'])

In [4]:
csmar_fund_allocation.to_sql(name='Fund_Allocation', con=sql_engine, if_exists='append')

667122

In [7]:
FUND_FundCodeInfo = pd.read_csv('data/CSMAR/FUND_FundCodeInfo.csv')
FUND_FundCodeInfo.to_sql(name='FUND_FundCodeInfo', con=sql_engine, if_exists='append')

80781

In [8]:
Fund_FundDividend = pd.read_csv('data/CSMAR/Fund_FundDividend.csv', parse_dates=['PrimaryExDividendDate', 'SecondaryExDividendDate'])
Fund_FundDividend.to_sql(name='Fund_FundDividend', con=sql_engine, if_exists='append')

30669

In [9]:
FUND_MainInfo = pd.read_csv('data/CSMAR/FUND_MainInfo.csv', parse_dates=['InceptionDate'])
FUND_MainInfo.to_sql(name='FUND_MainInfo', con=sql_engine, if_exists='append')

11807

In [11]:
FUND_PurchRedChg = pd.read_csv('data/CSMAR/FUND_PurchRedChg.csv')
FUND_PurchRedChg.to_sql(name='FUND_PurchRedChg', con=sql_engine, if_exists='append')

103998

In [12]:
Fund_Resolution = pd.read_csv('data/CSMAR/Fund_Resolution.csv', parse_dates=['DeclareDate'])
Fund_Resolution.to_sql(name='Fund_Resolution', con=sql_engine, if_exists='append')

3748

In [13]:
Fund_ShareChange = pd.read_csv('data/CSMAR/Fund_ShareChange.csv', parse_dates=['EndDate'])
Fund_ShareChange.to_sql(name='Fund_ShareChange', con=sql_engine, if_exists='append')

421397

In [14]:
import dask.dataframe as ddf

In [12]:
import dask.dataframe as ddf
index_weight = ddf.read_csv('data/CSMAR/index_weight/*', dtype={'Indexcd': 'object'}).compute()
index_weight.to_sql(name='index_weight', con=sql_engine, if_exists='append')

9221904

In [16]:
invest_detail = ddf.read_csv('data/CSMAR/invest_detail/*', low_memory=False, dtype={'Symbol': 'object'}).compute()
invest_detail.to_sql(name='invest_detail', con=sql_engine, if_exists='append')

7378076

In [17]:
TRD_Co = pd.read_csv('data/CSMAR/TRD_Co.csv')
TRD_Co.to_sql(name='TRD_Co', con=sql_engine, if_exists='append')

5287

In [18]:
TRD_Mnth = pd.read_csv('data/CSMAR/TRD_Mnth.csv')
TRD_Mnth.to_sql(name='TRD_Mnth', con=sql_engine, if_exists='append')

698304

In [19]:
fees = ddf.read_csv('data/CSMAR/fees/*', dtype={'ProportionOfFee': 'object'}).compute()
fees.to_sql(name='fees', con=sql_engine, if_exists='append')

1592346

In [20]:
daily_nav = ddf.read_csv('data/CSMAR/daily_nav/*').compute()
daily_nav.to_sql(name='daily_nav', con=sql_engine, if_exists='append')

17424067