In [5]:
from utils.threaded_df_to_mysql import threaded_df_to_mysql

In [44]:
from utils.set_mysql_table_index import set_mysql_table_index

In [10]:
from utils.fetch_from_mysql import fetch_from_mysql

In [16]:
import dask.dataframe as ddf
import pandas as pd
df = ddf.read_csv('data/CSMAR/daily_stock/*').compute()
df

,Stkcd,Trddt,Clsprc,Dsmvosd,Dsmvtll,Dretwd,ChangeRatio
0,1,1991-04-03,49.00,1298500.0,2376508.38,0.225000,NaN
1,1,1991-04-04,48.76,1292140.0,2364868.34,-0.004898,-0.004898
2,1,1991-04-05,48.52,1285780.0,2353228.30,-0.004922,-0.004922
3,1,1991-04-06,48.28,1279420.0,2341588.26,-0.004946,-0.004946
4,1,1991-04-08,48.04,1273060.0,2329948.21,-0.004971,-0.004971
...,...,...,...,...,...,...,...
999995,603929,2020-07-29,16.09,3432962.4,3432962.40,0.010044,0.010044
999996,603929,2020-07-30,15.81,3373221.6,3373221.60,-0.017402,-0.017402
999997,603929,2020-07-31,16.04,3422294.4,3422294.40,0.014548,0.014548
999998,603929,2020-08-03,16.68,3558844.8,3558844.80,0.039900,0.039900
999999,603929,2020-08-04,16.31,3479901.6,3479901.60,-0.022182,-0.022182

In [17]:
threaded_df_to_mysql(df, host='localhost', user='root', password='Doushi0930!', database='csmar', port=38321, TABLE_NAME='TRD_Dalyr', PARTITIONS=1000, N_WORKERS=8, THREADS_PER_WORKER=1)